{{>header}}

<main>
    <div class="posts-section">
        <div class="posts-edit">
            <div class="posts-icon">
                <a href="{{#if (eq posts.accID.username ../session.username)}}/profile{{else}}/profile/view/{{posts.accID.username}}{{/if}}">
                    <img src="{{#if posts.accID.profileImg}}{{posts.accID.profileImg}}{{else}}/header-elements/default.png{{/if}}" alt="Profile Button">
                </a>
                <p><b>@{{posts.accID.username}}</b></p>
            </div>
        </div>
            
        <strong>{{posts.title}} </strong>
        <span class="flair">{{posts.tag}}</span> 
        <p class="paragraph">
            {{posts.content}}
        </p>
        <hr class="hr-orange-smaller">
            
        <div class="posts-stats">

            {{log "hello world" session2}}
            {{log posts.upvotes}}

                {{#if (eq session2 posts.upvotes)}}
                <img id="like/{{posts._id}}" src="/header-elements/red-heart.png" alt="like" onclick="clickLike('{{posts._id}}')">
                {{else}}
                <img id="like/{{posts._id}}" src="/header-elements/heart.png" alt="like" onclick="clickLike('{{posts._id}}')">
                {{/if}}
                <p>{{posts.upvoteCount}} Likes</p>

                {{#if (eq session2 posts.downvotes)}}
                <img id="dislike/{{posts._id}}" src="/header-elements/red-broken-heart.png" alt="dislike" onclick="clickDislike('{{posts._id}}')">       
                {{else}}
                <img id="dislike/{{posts._id}}" src="/header-elements/broken-heart.png" alt="dislike" onclick="clickDislike('{{posts._id}}')">
                {{/if}}
                <p>{{posts.downvoteCount}} Dislikes</p>
            <a href="/commentsPage/{{posts._id}}">
                <img src="/header-elements/comment.png" alt="comment">
            </a>
            <p>Comments</p>
        </div>
    </div>

    {{#each comments}}
        <div class="comment">
            <div class="comment-heading">
                <div class="comment-header-left">
                    <a href="{{#if (eq this.author.username ../session.username)}}/profile{{else}}/profile/view/{{this.author.username}}{{/if}}">
                        <img src="{{#if this.author.profileImg}}{{this.author.profileImg}}{{else}}/header-elements/default.png{{/if}}" alt="Profile Button">
                    </a>
                    <p><b>@{{this.author.username}}</b></p>
                </div>

                {{#if (eq this.author.username ../session.username)}}
                <div class="comment-actions">
                    <a href="/comments/edit/{{this._id}}">
                        <img src="/header-elements/pencil-square-svgrepo-com.png" alt="Edit Comment">
                    </a>
                    <form action="/comments/delete/{{this._id}}" method="POST" style="display:inline;" onsubmit="return confirm('Are you sure you want to delete this comment?');">
                        <button type="submit" style="background:none;border:none;padding:0;">
                            <img src="/header-elements/trash.png" alt="Delete Comment">
                        </button>
                    </form>

                </div>
                {{/if}}
            </div>
    
            <div class="comment-body">
                <p>{{this.content}}</p>
                <hr class="hr-orange-smaller">
            </div>
    
            <div class="comment-reply">

                 {{#if (eq ../session this.upvotes)}}
                <img id="like/{{this._id}}" src="/header-elements/red-heart.png" alt="like" onclick="clickLike('{{this._id}}')">
                {{else}}
                <img id="like/{{this._id}}" src="/header-elements/heart.png" alt="like" onclick="clickLike('{{this._id}}')">
                {{/if}}
                <p>{{this.upvoteCount}} Likes</p>

                {{#if (eq ../session this.downvotes)}}
                <img id="dislike/{{this._id}}" src="/header-elements/red-broken-heart.png" alt="dislike" onclick="clickDislike('{{this._id}}')">       
                {{else}}
                <img id="dislike/{{this._id}}" src="/header-elements/broken-heart.png" alt="dislike" onclick="clickDislike('{{this._id}}')">
                {{/if}}
                <p>{{this.downvoteCount}} Dislikes</p>

                <img id="reply" src="/header-elements/comment.png" alt="comment" onclick="reply()">
                <input type="text" id="text-box" placeholder="Reply...">
                <p>Reply</p>
            </div>
        </div>
    {{/each}}

    <div class="reply">
        <div class="reply-image">
            <a href="/profile">
                <img src="{{#if currUser.profileImg}}{{currUser.profileImg}}{{else}}/header-elements/default.png{{/if}}" alt="Profile Button">
            </a>
        </div>

        <form action="/addComment" method="POST" class="reply-form">
            <input type="hidden" name="postID" value="{{posts._id}}"> 
            
            <div class="reply-textbox">
                <input type="text" name="content" id="reply-box" placeholder="Reply..." required>
            </div>

            <button type="submit" class="reply-button">Reply</button>
        </form>
    </div>
</main>