{{> header}}

<body>
    <div class="posting-area">
        <h1>Edit Profile</h1>

        <img id="profilePicture" src="{{#if profileImg}}{{profileImg}}{{else}}/header-elements/default.png{{/if}}" alt="Profile Picture" class="profile-img">
        
        <form action="/user/editProfile" method="POST">
            <input type="hidden" name="username" value="{{username}}">

            <div class="form-group">
                <label for="profileImg"><b>Change Profile Picture</b></label><br>
                <input type="text" id="profileImg" name="profileImg" value="{{profileImg}}" class="input-box">
            </div>

            <div class="form-group">
                <label for="newUsername"><b>Edit Username</b></label><br>
                <input type="text" id="newUsername" name="newUsername" value="{{username}}" required class="input-box">
            </div>

            <div class="form-group">
                <label for="bio"><b>Edit Bio</b></label><br>
                <input type="text" id="bio" name="bio" value="{{bio}}" required class="input-box">
            </div>

            <input type="submit" value="Save Changes">
        </form>
    </div>
</body>
