{{> header}}

<aside> 
    <p class="sidebar-titles"> POPULAR TAGS </p>

    <a href="populartags.html">
        <div class="sidebar-populartags">
            <p class="sidebar-tag"><b> Additional Feature Only </b></p>
            <p class="sidebar-smaller"> Not Ready</p>
        </div>
    </a>
</aside>

<main> 
    <div> 
        <div class="post-bar">
            <img src="{{#if userProfileImg}}{{userProfileImg}}{{else}}/header-elements/default.png{{/if}}" alt="Profile Button">
            <a href="/add-post-page" class="create-post-btn">Create a Post!</a>
        </div>
    </div>

    {{#each posts}}
        <div class="posts-section">
            <div class="posts-edit">
                <div class="posts-icon">
                    {{#if (eq accID._id ../session)}}
                        <a href="/profile">
                            <img src="{{#if accID.profileImg}}{{accID.profileImg}}{{else}}/header-elements/default.png{{/if}}" alt="Your Profile Button">
                        </a>
                    {{else}}
                        <a href="/profile/view/{{accID.username}}">
                            <img src="{{#if accID.profileImg}}{{accID.profileImg}}{{else}}/header-elements/default.png{{/if}}" alt="Other User's Profile Button">
                        </a>
                    {{/if}}
                    <p><b>@{{accID.username}}</b></p>
                </div>
            </div>
            
            <strong>{{this.title}}</strong>
            <span class="flair">{{this.tag}}</span> 
            <p class="paragraph">
                {{this.content}}
            </p>
            <hr class="hr-orange-smaller">
            
            <div class="posts-stats">

                {{log ../session}}
                {{log this.upvotes}}
                {{log this.downvotes}}


                {{#if (eq ../session this.upvotes)}}
                <img id="like/{{this._id}}" src="/header-elements/red-heart.png" alt="like" onclick="clickLike('{{this._id}}')">
                {{else}}
                <img id="like/{{this._id}}" src="/header-elements/heart.png" alt="like" onclick="clickLike('{{this._id}}')">
                {{/if}}
                <p>{{this.upvoteCount}} Likes</p>

                {{#if (eq ../session this.downvotes)}}
                <img id="dislike/{{this._id}}" src="/header-elements/red-broken-heart.png" alt="dislike" onclick="clickDislike('{{this._id}}')">       
                {{else}}
                <img id="dislike/{{this._id}}" src="/header-elements/broken-heart.png" alt="dislike" onclick="clickDislike('{{this._id}}')">
                {{/if}}
                <p>{{this.downvoteCount}} Dislikes</p>
                
                <a href="/commentsPage/{{this._id}}">
                    <img src="/header-elements/comment.png" alt="comment">
                </a>
                <p>Comments</p>
                
            </div>
        </div>

    {{/each}}

</main>

<footer>
    <div class="footer-content">
        <div class="footer-left">
            <p>Redesign 2025</p>
        </div>
    </div>
</footer>
