{{> header}}

    <aside> 
        <p class="sidebar-titles"> POPULAR TAGS </p>

        <a href = "populartags.html"><div class = "sidebar-populartags">
            <p class = "sidebar-tag"><b> Additional Feature Only </b></p>
            <p class = "sidebar-smaller">  Not Ready</p>
        </div></a>

    </aside>


    <main> 
        <div> 
            <div class = "post-bar">
                <img src="header-elements/Jerry_lobby_sprite.webp" alt="Profile Button">
                <a href="/add-post-page">
                    <input type="text" placeholder="Create Post.." readonly>
                </a>
            </div>
        </div>

       {{#each posts}}
            <div class="posts-section">
                <div class="posts-edit">
                    <div class="posts-icon">
                        <a href="/profile/Anonymouse">
                            <img src="{{accID.profileImg}}" alt="Profile Button">
                        </a>
                        <p><b>@{{accID.username}}</b></p>   {{!-- {{Change after login is impelemented}} --}}

                    </div>

                    {{!-- 
                    <div class="edit-post">
                        <a href="editpost.html">
                            <img src="/header-elements/pencil-square-svgrepo-com.png" alt="Pencil">
                        </a>
                        <p>Edit Post</p>
                    </div>
                    --}}
                    
                </div>
                
                <strong>{{this.title}}</strong>
                <span class="flair">{{this.tag}}</span> 
                <p class="paragraph">
                    {{this.content}}
                </p>
                <hr class="hr-orange-smaller">
                
                <div class="posts-stats">

                    {{#if this.liked}}
                    <img id="like/{{this._id}}" src="/header-elements/red-heart.png" alt="like" onclick="clickLike('{{this._id}}')">
                    {{else}}
                    <img id="like/{{this._id}}" src="/header-elements/heart.png" alt="like" onclick="clickLike('{{this._id}}')">
                    {{/if}}

                    <p>{{this.upvotes}} Likes</p>

                    {{#if this.disliked}}
                    <img id="dislike/{{this._id}}" src="/header-elements/red-broken-heart.png" alt="dislike" onclick="clickDislike('{{this._id}}')">
                    {{else}}
                    <img id="dislike/{{this._id}}" src="/header-elements/broken-heart.png" alt="dislike" onclick="clickDislike('{{this._id}}')">
                    {{/if}}
                    
                    <p>{{this.downvotes}} Dislikes</p>


                    <a href="/commentsPage/{{this._id}}">
                        <img src="/header-elements/comment.png" alt="comment">
                    </a>
                    <p>Comments</p>
                    
                </div>
            </div>
        {{/each}}

    </main>

    <footer>
        <div class="footer-content">
            <div class="footer-left">
                <p>Redesign 2025</p>
            </div>
        </div>
    </footer>
