{{> header}}

<body>
    <main>
        <div class="main-content">
            <!-- Left Column -->
            <div class="column-left">
                <img src="{{#if profileImg}}{{profileImg}}{{else}}/header-elements/default.png{{/if}}" alt="Profile Picture">
                <h1 class="nomargin">@{{username}}</h1>
                <div class="profile-stats">
                    <p><b>{{followers}}</b> Followers</p>
                    <p><b>{{following}}</b> Following</p>
                </div>
                
                <h2>
                    {{#if isFollowing}}
                        <a href="/unfollow/{{username}}" class="profile-edit unfollow">Unfollow</a>
                    {{else}}
                        <a href="/follow/{{username}}" class="profile-edit">Follow</a>
                    {{/if}}
                </h2>

                <hr class="hr-orange-small">
                <h3>Bio</h3>
                <p>{{bio}}</p>
            </div> 

            <!-- Center Column -->
            <div class="column-center">
                <div class="scrollable">
                {{#each posts}}
                    <div class="posts-section">
                        <div class="posts-icon">
                            <img src="{{#if ../profileImg}}{{../profileImg}}{{else}}/header-elements/default.png{{/if}}" alt="Profile Button">
                            <p><b>@{{../username}}</b></p> 
                        </div>

                        <strong> {{this.title}} </strong>
                        <span class="flair">{{this.tag}}</span>
                        <p class="paragraph">
                            {{this.content}}
                        </p>
                        <hr class="hr-orange-smaller">
                        <div class="posts-stats">
                            <img id="like/{{this._id}}" src="/header-elements/heart.png" alt="like" onclick="clickLike('{{this._id}}')">
                            <p id="like-count-{{this._id}}">{{this.upvoteCount}} Likes</p>

                            <img id="dislike/{{this._id}}" src="/header-elements/broken-heart.png" alt="dislike" onclick="clickDislike('{{this._id}}')">
                            <p id="dislike-count-{{this._id}}">{{this.downvoteCount}} Dislikes</p>

                            <a href="/commentsPage/{{this._id}}">
                                <img src="/header-elements/comment.png" alt="comment">
                            </a>
                            <p>{{this.comments}} Comments</p>
                        </div>
                    </div>
                {{/each}}
                </div> 
            </div>

            <!-- Right Column -->
            <div class="column-right">
                <h1 class="orange-text nomargin">Followers</h1>
                <hr class="hr-orange">
                <ul class="nopadding">
                    {{!-- {{log "Session username:" ../session.username}}
                    {{log "Followers list:" followersList}} --}}
                    {{#each followersList}}
                    {{!-- {{log "Follower username:" this.username}} --}}
                    {{!-- {{log "Follower profile image:" this.profileImg}} --}}
                    <li class="friendslist">
                        {{#if (eq this.username ../session.username)}}
                            <a href="/profile">
                        {{else}}
                            <a href="/profile/view/{{this.username}}">
                        {{/if}}
                            <img src="{{#if this.profileImg}}{{this.profileImg}}{{else}}/header-elements/default.png{{/if}}" alt="@{{this.username}}">
                        </a>
                        <p>@{{this.username}}</p>
                        <hr class="hr-orange-small">    
                    </li>
                    {{/each}}
                </ul>
            </div>
        </div>

        <footer>
            <div class="footer-content">
                <div class="footer-left">
                    <p>Redesign 2025</p>
                </div>
            </div>
        </footer>
    </main>

    <script src="/common/homepage.js" defer></script>
</body>