{{> header}}

<body>
    <main>
        <div class="main-content">
            <div class="column-left">
                <img src="{{profileImg}}" alt="Profile Picture">
                <h1 class="nomargin">@{{username}}</h1>
                <div class="profile-stats">
                    <p><b>{{followers}}</b> Followers</p>
                    <p><b>{{following}}</b> Following</p>
                </div>
                
                <h2 class="profile-edit">
                    <a href="/editprofile/{{username}}">Edit Profile</a>
                </h2>
                
                <hr class="hr-orange-small">
                <h3>My Bio</h3>
                <p>{{bio}}</p>
            </div> 

            <div class="column-center">
                <div class="post-bar">
                    <img src="{{profileImg}}" alt="Profile Button">
                    <textarea name="Search" id="" placeholder="Create a Post!"></textarea>
                </div>
                <br>
                <div class="scrollable">
                {{#each posts}}
                    <div class="posts-section">
                        <div class="posts-edit">
                            <div class="posts-icon">
                            <img src="{{../profileImg}}" alt="Profile Button">
                            <p><b>@{{../username}}</b></p> 
                            </div>
                            <div class="edit-post">
                                <a href="/profile/{{../username}}/edit/{{this._id}}">
                                    <img src="/header-elements/pencil-square-svgrepo-com.png" alt="Pencil">
                                </a>
                                <form action="/profile/{{../username}}/delete/{{this._id}}" method="POST" style="display:inline;">
                                    <button type="submit" style="background:none;border:none;">
                                        <img src="/header-elements/trash.png" alt="Delete">
                                    </button>
                                </form>
                            </div>
                        </div>

                        <strong> {{this.title}} </strong>
                        <span class="flair">{{this.tag}}</span>
                        <p class ="paragraph">
                            {{this.content}}
                        </p>
                        <hr class="hr-orange-smaller">
                        <div class="posts-stats">
                            <img id = "like" src="/header-elements/heart.png" alt="like" onclick = "changeImageLike()">
                            <p>{{this.upvotes}} Likes</p>
                            <img id = "dislike" src="/header-elements/broken-heart.png" alt="dislike" onclick = "changeImageDislike()">
                            <p>{{this.downvotes}} Dislike</p>
                            <a href="postpage.html"> <img src="/header-elements/comment.png" alt="comment"></a>
                            <p>{{this.comments}} Comments</p>
                        </div>
                    </div>
                {{/each}}
                </div> 
            </div>

            <div class="column-right">
                <h1 class="orange-text nomargin">Followers</h1>
                <hr class="hr-orange">
                <ul class="nopadding">
                    {{#each followersList}}
                    <li class="friendslist">
                        <a href="/profile/view/{{this.username}}">
                            <img src="{{this.profileImg}}" alt="@{{this.username}}">
                        </a>
                        <p>@{{this.username}}</p>
                        <hr class="hr-orange-small">    
                    </li>
                    {{/each}}
                </ul>
            </div>
        </div>

        <footer>
            <div class="footer-content">
                <div class="footer-left">
                    <p>Redesign 2025</p>
                </div>
            </div>
        </footer>
    </main>

    <script src="profile.js"></script>
</body>