{{> header}}

{{#if posts.length}}
     <aside> 
        <p class="sidebar-titles"> POPULAR TAGS </p>

        <a href = "populartags.html"><div class = "sidebar-populartags">
            <p class = "sidebar-tag"><b> Additional Feature Only </b></p>
            <p class = "sidebar-smaller">  Not Ready</p>
        </div></a>

    </aside>
    
   <main> 
       {{#each posts}}
            <div class="posts-section">
                <div class="posts-edit">
                    <div class="posts-icon">
                        {{#if (eq accID.username ../session.username)}}
                            <a href="/profile">
                        {{else}}
                            <a href="/profile/view/{{accID.username}}">
                        {{/if}}
                                <img src="{{#if accID.profileImg}}{{accID.profileImg}}{{else}}/header-elements/default.png{{/if}}" alt="Profile Button">
                            </a>
                        <p><b>@{{accID.username}}</b></p>
                    </div>
                </div>
                
                <strong>{{this.title}}</strong>
                <span class="flair">{{this.tag}}</span> 
                <p class="paragraph">
                    {{this.content}}
                </p>
                <hr class="hr-orange-smaller">
                
                <div class="posts-stats">
                    <img id="like" src="/header-elements/heart.png" alt="like" onclick="changeImageLike()">
                    <p>{{this.upvotes}} Likes</p>
                    <img id="dislike" src="/header-elements/broken-heart.png" alt="dislike" onclick="changeImageDislike()">
                    <p>{{this.downvotes}} Dislikes</p>
                    <a href="/commentsPage/{{this._id}}">
                        <img src="/header-elements/comment.png" alt="comment">
                    </a>
                    <p>Comments</p>
                </div>
            </div>
        {{/each}}

    </main>

{{else}}
    <p>No posts found.</p>
{{/if}}